<ion-content padding>
  <ion-card class="imgcard">
      <img src="assets/imgs/shopping.png">
      <h1>Home Shopping</h1>
    </ion-card>
  
    <ion-card class="facebook" (click)="login()">
        <p>Facebook login</p>
      </ion-card>
  
      <ion-card class="google" (click)="google()">
          <p>Google login</p>
        </ion-card>
  
        <ion-card class="without" (click)="next()">
            <p>Try the app without login</p>
          </ion-card>

</ion-content>