page-home {
    ion-content {
       background-color: #342866 !important;
       width: 100%;
       height: 100%;
     }
     
     .imgcard img {
       width: 90px;
       height: 90px;
       display: -webkit-inline-box !important;
       margin-bottom: 30px;
     }
     
     .imgcard {
       background: none !important;
       -webkit-box-shadow: none !important;
       box-shadow: none !important;
       margin: 0 auto !important;
       text-align: center !important;
       padding: 14px 0px !important;
       margin-bottom: 65px !important;
     }
     
      h1 {
       color: white !important;
       font-weight: 600;
       text-transform: uppercase;
       margin-bottom: 0px !important;
     }
     
      .facebook {
       width: 90% !important;
       height: 38px !important;
       margin: 0 auto;
       background-color: #230b84;
       border-radius: 5px !important;
       margin-bottom: 30px;
     }
     
      .facebook p {
       color: white;
       float: left;
       font-weight: 600;
       font-size: 13px;
       margin: 10px 0px;
       text-align: center;
       width: 100%;
       text-transform: uppercase;
     }
     
      .google {
       width: 90% !important;
       height: 38px !important;
       margin: 0 auto;
       background-color: #dd1818;
       border-radius: 5px !important;
       margin-bottom: 30px;
     }
     
       .google p {
       color: white;
       float: left;
       font-weight: 600;
       font-size: 13px;
       margin: 10px 0px;
       text-align: center;
       width: 100%;
       text-transform: uppercase;
     }
     
      .without {
       width: 90% !important;
       height: 38px !important;
       margin: 0 auto;
       background-color: #e8ba17;
       border-radius: 5px !important;
       margin-bottom: 30px;
     }
     
      .without p {
       color: black;
       float: left;
       font-weight: 600;
       font-size: 13px;
       margin: 10px 0px;
       text-align: center;
       width: 100%;
       text-transform: uppercase;
     }
     
}
