
<ion-header>
  <button class="button button-icon  ion-navicon-round" ion-button menuToggle="right"></button>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="userProfile">
    <img [src]="userProfile.photoURL"/>
    <ion-card-content>
      <ion-card-title>
        {{ userProfile.displayName }}
      </ion-card-title>
      <p>
        The UID for this new user is {{userProfile.uid}} and the email is {{userProfile.email}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
